*.sql
*.csv
*.zip
*.sqllite
/boilerplate/data/
/boilerplate/logs/
/boilerplate/redis/
/backup_old_site
/transfer_backup
.idea
/www/*
!/www/wp-content/
/www/wp-content/*
!/www/wp-content/themes/
/www/wp-content/uploads/*
/www/wp-content/upgrade/*
/www/wp-content/updraft/*

/boilerplate/
/working/node_modules/
